@import 'src/app/core/scss/fuse';

:host {
  a {
    color: rgba(0, 0, 0, 0.87);
  }

  .admin-section {
    > .mat-button {
      color: #fff !important;
    }
  }

  .none-shadow {
    box-shadow: none !important;
  }
}