@import "src/app/core/scss/fuse";

.fuse-card {
  min-width: auto;
  max-width: 400px;
  width: 90%;

  a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }
  }
}