:host {

  .feed-post-area {
    textarea {
      width: 100% !important;
      padding: 8px;
      font-size: 13px;
      border: 1px solid rgba(0, 0, 0, 0.12);
      resize: none;

      &.root-post {
        border: 0;
        padding: 16px;
      }
    }

    .image-button {
      position: absolute;
      top: 0;
      right: 0;
    }

    .post-comment-button {

    }
  }

  .action-area {
    padding: 8px;
    border-top: 1px solid rgba(0, 0, 0, 0.08);
    background: #F3F4F5;
  }
}