<!-- <app-bread-scrumb></app-bread-scrumb> -->

<div class="page-layout carded left-sidenav tabbed single-scroll" fusePerfectScrollbar>
    <div class="bread-scrumb-area pr-12 pl-12">
        <div fxLayout>
            <app-bread-scrumb
                [breadcrumbs]="breadcrumbs"
            ></app-bread-scrumb>      
        </div>
    </div>
    
    <!-- TOP BACKGROUND -->
    <div class="top-bg channel-top-bg">
        <div class="overlay-bg" fxFill fxLayout fxLayoutAlign="start stretch">
            <div fxLayout="row" fxLayoutAlign="space-between end" class="channel-info mr-20 ml-20">
                <div fxLayout="row" class="full-width" fxLayoutAlign="space-between start">
                    <div fxLayout="row">
                        <div class="channel-logo"></div>
                        <div class="channel-text ml-12">
                            <h1>
                                <strong>{{ channelName }}</strong>
                            </h1>
                            <div class="description">
                                <h3>{{ channelAbstact }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- / TOP BACKGROUND -->

    <mat-sidenav-container fxFill>

        <!-- SIDENAV -->
        <mat-sidenav class="sidenav" align="start" opened="true" mode="side"
                     fuseMatSidenavHelper="carded-left-sidenav" mat-is-locked-open="gt-md">

            <app-video-main-sidenav
                *fuseIfOnDom
                [@animate]="{value:'*'}"
            ></app-video-main-sidenav>

        </mat-sidenav>
        <!-- / SIDENAV -->

        <!-- CENTER -->
        <div class="center">

            <!-- CONTENT HEADER -->
            <div class="header white-fg pt-24 pb-24">

                <div fxLayout="row" fxFill fxLayoutAlign="space-between end">

                    <div class="follow-action" fxFlex="1 1 auto" fxLayoutAlign="end start">
                        <button mat-raised-button (click)="isFollow = true" *ngIf="!isFollow">Follow Channel</button>
                        <button mat-raised-button (click)="isFollow = false" *ngIf="isFollow">Unfollow Channel</button>
                    </div>

                    <!-- <h2>Left sidenav with tabs and page scroll</h2> -->

                </div>

            </div>
            <!-- / CONTENT HEADER -->

            <!-- CONTENT CARD -->
            <div class="content-card mat-white-bg">

                <!-- CONTENT TOOLBAR -->
                <div class="toolbar px-24 py-8">
                    <button mat-button class="mat-icon-button sidenav-toggle"
                            fuseMatSidenavToggler="carded-left-sidenav"
                            fxHide.gt-md>
                        <mat-icon>menu</mat-icon>
                    </button>

                    <div class="full-width">
                        <app-channel-toolbar
                        [channelId]="channelId"
                        [pageName]="'videos'"
                        ></app-channel-toolbar>
                    </div>
                </div>
                <!-- / CONTENT TOOLBAR -->

                <!-- CONTENT -->
                <div class="content p-24" fusePerfectScrollbar fxFlex>
                    
                    <div fxFlex fxLayout="row">
                        <app-video-list
                        ></app-video-list>
                    </div>

                </div>
                <!-- / CONTENT -->

            </div>
            <!-- / CONTENT CARD -->

        </div>
        <!-- / CENTER -->

    </mat-sidenav-container>

</div>