<!-- SIDENAV HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-24 pb-4" ngClass="mat-accent-bg" ngClass.gt-md="white-fg">

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{y:'50px'}}">

    <div class="p-24">
        <button mat-raised-button fxFlex
                class="mat-accent compose-dialog-button"
                (click)="composeDialog()"
                aria-label="Compose">
            {{ 'MAIL.COMPOSE' | translate }}
        </button>
    </div>

    <div class="nav">
        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/pg/channel/' + channelId + '/mail/inbox'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>All</span>
            </a>
        </div>

        <div class="nav-subheader">{{ 'MAIL.TYPE' | translate }}</div>

        <div class="nav-item" *ngFor="let folder of folders">
            <a class="nav-link" matRipple [routerLink]="'/pg/channel/' + channelId + '/mail/' + folder.handle" routerLinkActive="active">
                <mat-icon class="nav-link-icon" *ngIf="folder.icon">{{folder.icon}}</mat-icon>
                <span>{{folder.title}} ({{folder.count}})</span>
            </a>
        </div>

        <div class="nav-subheader">{{ 'MAIL.PRIORITY' | translate }}</div>

        <div class="nav-item" *ngFor="let filter of filters">
            <a class="nav-link" matRipple [routerLink]="'/pg/channel/' + channelId + '/mail/filter/' + filter.handle" routerLinkActive="active">
                <mat-icon class="nav-link-icon" *ngIf="filter.icon">{{filter.icon}}</mat-icon>
                <span>{{filter.title}} ({{filter.count}})</span>
            </a>
        </div>

        <div class="nav-subheader">{{ 'MAIL.STATUS' | translate }}</div>

        <div class="nav-item" *ngFor="let label of labels">
            <a class="nav-link" matRipple [routerLink]="'/pg/channel/' + channelId + '/mail/label/' + label.handle" routerLinkActive="active">
                <mat-icon class="nav-link-icon" [ngStyle]="{'color':label.color}">label</mat-icon>
                <span>{{label.title}} ({{label.count}})</span>
            </a>
        </div>

    </div>

</div>
<!-- / SIDENAV CONTENT -->
