.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;

  a {
    color: #fff;
  }

  > li {
    display: inline-block;

    + li:before {
      padding: 0 5px;
      color: #fff;
      content: "\203A\203A";
    }
  }

  > .active {
    color: #777;
  }
}