$top-bg-image: url('../../../../../../assets/images/backgrounds/channel-bg.png');

:host {
  width: 100%;
  height: 100%;

  .page-layout {
    height: 100%;
  }

  .bread-scrumb-area {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%; 
  }

  .follow-action {
    color: #000;
    margin-top: 20px;
  }

  .channel-top-bg {
    background-image: $top-bg-image !important;

    .overlay-bg {
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
    }

    .channel-info {
      width: 100%;
      margin-bottom: 10px;
      color: #fff;
    }

    .channel-logo {
      background: url('../../../../../../assets/images/logos/channel-logo.png') no-repeat;
      background-size: cover;
      width: 120px;
      height: 120px;
    }

    .channel-text {
      h1 {
        margin: 10px 0 0;
      }

      .description {
        h3 {
          margin: 0;
        }
      }
    }
  }
}