<div class="quick-guide-area">
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th colspan="3">Quick Guide Introduction</th>
      </tr>
      <tr>
        <th style="width: 12.5%">Step</th>
        <th style="width: 37.5%">Quick Guide Text</th>
        <th style="width: 50%">Quick Guide Image</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let chapter of chapters; let i=index;" (click)="onSelectChapter(i)" [ngClass]="{'mat-primary-A100-bg': i === selectedChapter}">
        <td>
          <div>{{i + 1}}</div>
          <mat-slide-toggle
            [checked]="chapter?.effects?.guide?.canvasObject"
            (change)="onChangeBlur($event, i)"></mat-slide-toggle>
        </td>
        <td>
          <app-editable-content
            [type]="'textarea'"
            [inputValue]="chapter?.effects?.guide?.text"
            (changeInputValue)="onChangeGuide(i, $event)"
          ></app-editable-content>
        </td>
        <td>
          <img src="assets/images/cards/card3.jpg">
        </td>
      </tr>
    </tbody>
  </table>

</div>