<div class="video-card" fxLayout fxLayoutAlign="center center">
  <div class="fuse-card">

    <div class="position-relative">
      <img src="assets/images/cards/card3.jpg">
      <div class="position-absolute font-size-18 white-fg p-16 align-left align-bottom">
        Lorem ipsum dolor sit
      </div>
    </div>

    <div class="p-16" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div class="h5">TrainingTube</div>
      <div class="h5">KBBOULIGAA01</div>
    </div>

    <div class="p-16 font-size-12 pt-0 line-height-1.25">
      Cards are a convenient means of displaying content composed of different elements.
    </div>

  </div>
</div>
